* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#item-view ol, ul {
  list-style: none;
}

#item-view h1 {
  font: lighter 1.8rem/1.15 helvetica,arial,sans-serif;
  letter-spacing: .02rem;
  text-align: center;
  color: #222;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  text-decoration: none;
  text-align: left;
}

#item-view p {
  max-width: inherit;
  overflow-wrap: normal;
  word-wrap: normal;
}

#item-view-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 1441px;
  margin-left: auto;
  margin-right: auto;
}

#image-view {
  display: flex;
  flex-direction: row;
  width: 100%
}

#hero-image {
  height: 48vmax;
  padding: 1vmax;
  padding-top: 0vmax; 
}

#details-view {
  display: flex;
  flex-direction: column;
  margin: 0vmax 5vmax 1vmax 1vmax;
  width: 100%;
}

#size-list {
  display: flex;
  flex-direction: row;
}

#quantity-selector {
  width: 100px;
  height: 44px;
  border: thin solid #aaa;
  border-radius: 5px;
  margin-bottom: calc(5px + .2vmax);
}

#add-to-bag-button {
  height: calc(25px + 1vmax);
  margin-bottom: calc(5px + .8vmax);
  margin-top: calc(10px + .8vmax);
  font: helvetica,arial,sans-serif;
  font-weight: 650;
  font-size: calc(9px + .6vmax);
  line-height: 1.36;
  letter-spacing: .06rem;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

#add-to-bag-button:hover {
  opacity: .9;
}

#add-to-bag-button:focus {
  outline-color: #222;
  outline-width: 2px;
}

#shop-related-items-button {
  height: calc(25px + 1vmax);
  border: thin solid #222;
  margin-top: calc(15px + .8vmax);
  margin-bottom: calc(15px + 1.5vmax);
  font: helvetica,arial,sans-serif;
  font-weight: 650;
  font-size: calc(9px + .4vmax);
  line-height: 1.36;
  letter-spacing: .06rem;
  color: #222;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

#shop-related-items-button:hover {
  opacity: .7;
}

#size-not-selected-error {
  font: 0.70rem/1.36 helvetica,arial,sans-serif;
  letter-spacing: .04rem;
  color: red;
  line-height: 1.3;
  margin-bottom: 0.8vmax;
  margin-top: 0.8vmax;
}

#shop-related-items-button:focus {
  outline: 0px;
}

#shipping-returns-image {
  width: 100%;
}

#afterpay-info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#afterpay-image {
  width: 14%;
  margin-left: 3px;
  margin-bottom: calc(7px + 0.5vmax);
}

#fake-stars {
  width: 30%;
}

#current-page-path {
  width: max-content;
  height: max-content;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.label {
  color: #000 !important;
}

.image-picker {
  display: flex;
  flex-direction: column;
}

.image-picker-option {
  height: 8vmax;
  margin-bottom: .3vmax;
  margin-left: 5vmax;
  padding: 3px;
  border: solid;
  border-width: thin;
  border-color: transparent;
  cursor: pointer;
}

.image-picker-option:hover {
  border-color: rgb(167, 167, 167);
}

.picker-current-hero {
  border-color: rgb(167, 167, 167);
}

.product-meta-header {
  font: helvetica,arial,sans-serif;
  font-size:calc(14px + .45vmax);
  font-weight: lighter;
  line-height: 1.3;
  text-align: left;
  color: #222;
  letter-spacing: .02rem;
  -webkit-font-smoothing: antialiased;
  padding-bottom: .3vmax;
}

.product-meta {
  font: 0.70rem/1.36 helvetica,arial,sans-serif;
  letter-spacing: .04rem;
  color: #767676;
  line-height: 1.3;
  margin-bottom: calc(10px + 0.5vmax);
}

.sub-component-header {
  margin-bottom: 0.2vmax;
}

.item-colors {
  display: flex;
  flex-direction: row;
}

.item-option {
  height: calc(14px + 1vmax);
  width: calc(14px + 1vmax);
  border: thin solid #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.item-option-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(20px + 1vmax);
  height: calc(20px + 1vmax);
  padding: 2px;
  border: thin solid transparent;
  border-radius: 50%;
  margin: 0 15px 10px 0;
}

.item-option-wrapper:hover, .item-option-wrapper-selected {
  border-color: #767676;
}

.size-option {
  display: flex;
  justify-content: center;
  width: calc(24px + 1vmax);
  height: calc(24px + 1vmax);
  font: helvetica,arial,sans-serif;
  font-size: calc(8px + .25vmax);
  line-height: 1.36;
  align-items: center;
  border: thin solid #767676;
  margin: 2px 5px 15px 0px;
  cursor: pointer;
}

.size-option-selected, .size-option:hover {
  color: #000;
  border-color: #000;
}

.size-option-selected {
  font-weight: bold;
}

.size-option-out-of-stock {
  color: #aaa !important;
  border-color: #aaa !important;
  font-weight: normal;
  cursor: default;
}

.line {
  border-bottom: thin solid #767676;
}

.radio {
  margin: 10px 10px 10px 0px;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: calc(290px + 15vmax);
}

.accordion-button {
  text-align: left;
  justify-content: center;
  font-weight: bold;
  color: #000;
  height: calc(30px + 1vmax);
  width: 95%;
  cursor: pointer;
}

.accordion-button:hover {
  color: #aaa;
}

.accordion-button:focus {
  outline:0;
}

.accordion-arrow-content-displayed {
  float: right;
  width: 16px;
  transform: rotate(180deg);
}

.accordion-arrow-content-hidden {
  float: right;
  width: 16px;
}

.accordion-content-displayed {
  width: inherit;
  display: inline;
  color: #000;
  padding-bottom: calc(15px + 0.8vmax)
}

.accordion-content-hidden {
  display: none;
}

.dummy-image {
  width: 100%;
}

.dummy-link {
  text-decoration: underline;
}

.dummy-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.breadcrumb {
  color: #000;
  cursor: pointer;
}

.breadcrumb:hover {
  color: #767676;
}

.breadcrumb-divider {
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumb-item-name {
  color: #000;
  font-weight: bold;
}
