#item-view {
  display: flex;
  flex-direction: row;
}

#image-view {
  display: flex;
  flex-direction: row;
}

#hero-image {
  height: 70vmax;
  padding: 1vmax;
}

.image-picker {
  display: flex;
  flex-direction: column;
}

.image-picker-option {
  height: 15vmax;
  margin: 1vmax;
  margin-left: 5vmax;
  padding: 3px;
  border: solid;
  border-width: 1px;
  border-color: transparent;
}

.image-picker-option:hover {
  cursor: pointer;
  border-color: rgb(167, 167, 167);
}