* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ol, ul {
  list-style: none;
}

h1 {
  font: lighter 1.8rem/1.15 helvetica,arial,sans-serif;
  letter-spacing: .02rem;
  text-align: center;
  color: #222;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  text-decoration: none;
  text-align: left;
}

#item-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1441px;
  margin-left: auto;
  margin-right: auto;
}

#image-view {
  display: flex;
  flex-direction: row;
}

#hero-image {
  height: 48vmax;
  padding: 1vmax;
}

#details-view {
  display: flex;
  flex-direction: column;
  margin: 1vmax;
  margin-right: 5vmax;
}

#size-list {
  display: flex;
  flex-direction: row;
}

#quantity-selector {
  width: 100px;
  height: 44px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.label {
  color: #000;
}

.image-picker {
  display: flex;
  flex-direction: column;
}

.image-picker-option {
  height: 8vmax;
  margin-bottom: .3vmax;
  margin-left: 5vmax;
  padding: 3px;
  border: solid;
  border-width: 1px;
  border-color: transparent;
  cursor: pointer;
}

.image-picker-option:hover {
  border-color: rgb(167, 167, 167);
}

.picker-current-hero {
  border-color: rgb(167, 167, 167);
}

.product-meta-header {
  font: helvetica,arial,sans-serif;
  font-size:calc(14px + .45vmax);
  font-weight: lighter;
  line-height: 1.3;
  text-align: left;
  color: #222;
  letter-spacing: .02rem;
  -webkit-font-smoothing: antialiased;
  padding-bottom: .3vmax;
}

.product-meta {
  width: max-content;
  font: 0.68rem/1.36 helvetica,arial,sans-serif;
  letter-spacing: .04rem;
  color: #767676;
  line-height: 1.3;
  padding-bottom: 0.8vmax;
}

.item-colors {
  display: flex;
  flex-direction: row;
}

.item-option {
  height: calc(14px + 1vmax);
  width: calc(14px + 1vmax);
  border: 1px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.item-option-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(20px + 1vmax);
  height: calc(20px + 1vmax);
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 0 15px 10px 0;
}

.item-option-wrapper:hover, .item-option-wrapper-selected {
  border-color: #767676;
}

.size-option {
  display: flex;
  justify-content: center;
  width: calc(24px + 1vmax);
  height: calc(24px + 1vmax);
  font: helvetica,arial,sans-serif;
  font-size: calc(8px + .25vmax);
  line-height: 1.36;
  align-items: center;
  border: 1px solid #767676;
  margin: 2px 5px 15px 0px;
  cursor: pointer;
}

.size-option-selected, .size-option:hover {
  color: #000;
  border-color: #000;
}

.size-option-selected {
  font-weight: bold;
}

.size-option-out-of-stock {
  color: #aaa !important;
  border-color: #aaa !important;
  font-weight: normal;
  cursor: default;
}

.accordian-content-displayed {
  display: inline;
  color: #000;
}

.accordian-content-hidden {
  display: none;
}

.dummy-link {
  text-decoration: underline;
}

.dummy-link:hover {
  text-decoration: none;
  cursor: pointer;
}
