* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ol, ul {
  list-style: none;
}

#item-view {
  display: flex;
  flex-direction: row;
}

#image-view {
  display: flex;
  flex-direction: row;
}

#hero-image {
  height: 70vmax;
  padding: 1vmax;
}

#details-view {
  display: flex;
  flex-direction: column;
  margin: 1vmax;

  margin-right: 5vmax;
}

.label {
  color: #000;
}

.image-picker {
  display: flex;
  flex-direction: column;
}

.image-picker-option {
  height: 15vmax;
  margin: 1vmax;
  margin-left: 5vmax;
  padding: 3px;
  border: solid;
  border-width: 1px;
  border-color: transparent;
  cursor: pointer;
}

.image-picker-option:hover {
  border-color: rgb(167, 167, 167);
}

.picker-current-hero {
  border-color: rgb(167, 167, 167);
}

.product-meta-header {
  font: lighter 2.2rem/1.15 helvetica,arial,sans-serif;
  text-align: left;
  color: #222;
  letter-spacing: .02rem;
  -webkit-font-smoothing: antialiased;
}

.product-meta {
  font: 1.1rem/1.36 helvetica,arial,sans-serif;
  letter-spacing: .04rem;
  color: #767676;
  line-height: 1.3;
}

.item-colors {
  display: flex;
  flex-direction: row;
}

.item-option {
  height: 3rem;
  width: 3rem;
  border: 1px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.item-option-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 0 15px 10px 0;
}

.item-option-wrapper:hover {
  border-color: #767676;
}

.item-option-wrapper-selected {
  border-color: #767676;
}
